<ion-view view-title="States" xmlns="http://www.w3.org/1999/html">
  <ion-content scroll="false">
    <form name="states.searchForm" ng-submit="states.add(states.searchText)">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="State" name="searchText" ng-model="states.searchText">
        </label>
        <button class="button button-block" type="submit">
          Add
        </button>
      </div>
    </form>
    <div class="card" ng-show="states.matched.length > 0">
      <div class="item item-text-wrap" ng-class="{ 'balanced-bg': states.matched.length == states.states.length }">
        You have named {{ states.matched.length }} state(s)
      </div>
    </div>
    <ion-scroll scrollbar-y="false">
      <ion-list>
        <ion-item class="item-button-right item-badge-left" ng-repeat="match in states.matched | orderBy">
          <span class="badge badge-balanced">{{ $index + 1 }}</span> {{ match }}
          <a class="button button-icon" ng-click="states.remove(match)">
            <i class="icon ion-close-circled assertive"></i>
          </a>
        </ion-item>
      </ion-list>
      <ion-scroll
  </ion-content>
</ion-view>
